body {
    margin: 0;
    padding: 0;
    background: #fffffa
   }

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    background:#64B6AC;
    margin: 0;
    padding: 10;
   }
   
/*menu bar*/
   ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    
   }
   
   li {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
   }
   
   
   .link {
    display: block;
   }
   
   a {
    text-decoration: none;
    color:  #FEE9E1
   }
   
   .hamburger {
    display: none;
    margin-right: 20px;;
   }


.imagediv {
  text-align: center;
}

.note{
    text-align: center;
    padding-top: 50px;
}

.notelist{
    padding-top: 20px;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.editnote {
    text-align: center;
    padding-bottom: 30px;
}


#submit, .deletebutton, #save, .editnotebt, .deletenotebt, #editbutton{
    background-color: #64B6AC;
    border: none;
    color: #FEE9E1;
    padding: 10px 10px;
    text-decoration: none;
    margin: 1px 1px;
    cursor: pointer;
    
  }


.getimagesrc{
    border: none;
}

/*social media icons in footer*/
footer {
    height: 60px;
    background: #64B6AC;
   }
   
  



@media (max-width: 375px) {
    .hamburger {
     display: block;
     }
    
     .link {
      display: none;
      }
    
     nav {
      width: 20%;
      display: block;
     }
   
   }